<header class="site-header"><div class="color-bar"><div class="bar bar1"></div><div class="bar bar2"></div><div class="bar bar3"></div><div class="bar bar4"></div><div class="bar bar5"></div><div class="bar bar6"></div></div>
<div class="row mt20 mb20">
  <div class="col-sm-1"></div>
   <div class="col-md-4"><a href="{{ "/" | prepend: site.baseurl }}"><svg version="1.1" class="headline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">  <image id="image0" width="16" height="16" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAAACAwP///+bALvn
AAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAHdElNRQflDA4XMyPgFxsUAAAAI0lEQVQI12Ng
AAHR0NAQCMHA6MCATjA6AiWgBJiLQiDpBQIAXVYJL3fFZa8AAAAldEVYdGRhdGU6Y3JlYXRlADIw
MjEtMTItMTRUMjM6NTE6MzUrMDA6MDBHdv8aAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTEyLTE0
VDIzOjUxOjM1KzAwOjAwNitHpgAAAABJRU5ErkJggg==" />
</svg>&nbsp;&nbsp;&nbsp;<h1 class="headline">{{site.title}}</h1></a></div>
    <div class="col-sm-7"> </div>
    
</div>
    

</header>
